*.tmpl linguist-language=Handlebars

# 忽略非项目代码统计
.github/** linguist-vendored
.vscode/** linguist-generated
gitea/** linguist-generated
primer/** linguist-generated
primer/index.ts -linguist-generated
