/* Made by Rainnny <3 */
/* Made by Luting ^-^ */

:root :lang(zh-CN) {
    --fonts-override: "Maple Hand", "VictorMono Nerd Font", "HYZhengYuan";
}

.job-step-logs {
    font-family: "VictorMono Nerd Font", "Maple Hand", "HYZhengYuan" !important;
    font-weight: 500;
}

#navbar .item,
.menu .item,
.header-wrapper .ui.tabular.menu .item,
input,
textarea,
tr,
button,
.job-step-summary,
.job-log-line,
.job-brief-item,
.ui.input>input,
.ui.form input:not([type]),
.ui.form select,
.ui.form textarea,
.ui.form input[type="date"],
.ui.form input[type="datetime-local"],
.ui.form input[type="email"],
.ui.form input[type="file"],
.ui.form input[type="number"],
.ui.form input[type="password"],
.ui.form input[type="search"],
.ui.form input[type="tel"],
.ui.form input[type="text"],
.ui.form input[type="time"],
.ui.form input[type="url"],
.ui.label,
.ui.selection.dropdown,
.ui.checkbox label:before,
.ui.checkbox input:checked~label:before,
.ui.checkbox input:not([type="radio"]):indeterminate~label:before,
.ui.selection.active.dropdown,
.ui.selection.active.dropdown:hover,
.ui.selection.active.dropdown .menu,
.ui.selection.active.dropdown:hover .menu,
.ui.menu .item,
.ui.vertical.menu .header.item,
.ui.secondary.menu .item {
    transition: 0.3s;
}

.chroma {
    background-color: var(--color-code-bg);
}

.chroma .lntd {
    vertical-align: top;
    border: 0;
    margin: 0;
    padding: 0;
}

.chroma .lntable {
    border-spacing: 0;
    border: 0;
    width: auto;
    margin: 0;
    padding: 0;
    display: block;
    overflow: auto;
}

.chroma .hl {
    width: 100%;
    display: block;
}

.chroma .lnt,
.chroma .ln {
    margin-right: 0.4em;
    padding: 0 0.4em;
}

.chroma .gs {
    font-weight: var(--font-weight-semibold);
}

.chroma .gl {
    text-decoration: underline;
}

.chroma .bp {
    color: #fabd2f;
}

.chroma .c,
.chroma .c1,
.chroma .ch,
.chroma .cm {
    color: #777e94;
}

.chroma .cp {
    color: #8ec07c;
}

.chroma .cpf {
    color: #79c0ff;
}

.chroma .cs {
    color: #9075cd;
}

.chroma .dl {
    color: #79c0ff;
}

.chroma .gd {
    color: #fff;
    background-color: #5f3737;
}

.chroma .ge {
    color: #ddee30;
}

.chroma .gh {
    color: #ffaa10;
}

.chroma .gi {
    color: #fff;
    background-color: #3a523a;
}

.chroma .go {
    color: #777e94;
}

.chroma .gp {
    color: #ebdbb2;
}

.chroma .gr {
    color: #f43;
}

.chroma .gs {
    color: #ebdbb2;
}

.chroma .gt {
    color: #7ee787;
}

.chroma .gu {
    color: #a5d6ff;
}

.chroma .il {
    color: #79c0ff;
}

.chroma .k {
    color: #ff7b72;
}

.chroma .kc {
    color: #79c0ff;
}

.chroma .kd {
    color: #ff7b72;
}

.chroma .kn {
    color: #ff7b72;
}

.chroma .kp {
    color: #5f8700;
}

.chroma .kr {
    color: #7ee787;
}

.chroma .kt {
    color: #ff7b72;
}

.chroma .m,
.chroma .mb,
.chroma .mf,
.chroma .mh,
.chroma .mi,
.chroma .mo {
    color: #79c0ff;
}

.chroma .n {
    color: #c9d1d9;
}

.chroma .na {
    color: #d2a8ff;
}

.chroma .nb {
    color: #a5d6ff;
}

.chroma .nc {
    color: #e6edf3;
}

.chroma .nd {
    color: #79c0ff;
}

.chroma .ne {
    color: #7ee787;
}

.chroma .nf,
.chroma .ni {
    color: #d2a8ff;
}

.chroma .nl {
    color: #7ee787;
}

.chroma .nn {
    color: #e6edf3;
}

.chroma .no {
    color: #79c0ff;
}

.chroma .nt {
    color: #7ee787;
}

.chroma .nv {
    color: #ebdbb2;
}

.chroma .nx {
    color: #b6bac5;
}

.chroma .o {
    color: #7ee787;
}

.chroma .ow {
    color: #5f8700;
}

.chroma .p {
    color: #d2d4db;
}

.chroma .s,
.chroma .s1,
.chroma .s2 {
    color: #a5d6ff;
}

.chroma .sa {
    color: #79c0ff;
}

.chroma .sb {
    color: #a5d6ff;
}

.chroma .sc {
    color: #79c0ff;
}

.chroma .sd {
    color: #777e94;
}

.chroma .se {
    color: #7ee787;
}

.chroma .sh {
    color: #79c0ff;
}

.chroma .si {
    color: #ffaa10;
}

.chroma .sr {
    color: #9075cd;
}

.chroma .ss {
    color: #7ee787;
}

.chroma .sx {
    color: #ffaa10;
}

.chroma .vc {
    color: #7ee787;
}

.chroma .vg,
.chroma .vi {
    color: #ffaa10;
}

.chroma .w {
    color: #7f8699;
}

.CodeMirror.cm-s-default .cm-property,
.CodeMirror.cm-s-paper .cm-property {
    color: #a0cc75;
}

.CodeMirror.cm-s-default .cm-header,
.CodeMirror.cm-s-paper .cm-header {
    color: #9daccc;
}

.CodeMirror.cm-s-default .cm-quote,
.CodeMirror.cm-s-paper .cm-quote {
    color: #090;
}

.CodeMirror.cm-s-default .cm-keyword,
.CodeMirror.cm-s-paper .cm-keyword {
    color: #cc8a61;
}

.CodeMirror.cm-s-default .cm-atom,
.CodeMirror.cm-s-paper .cm-atom {
    color: #ef5e77;
}

.CodeMirror.cm-s-default .cm-number,
.CodeMirror.cm-s-paper .cm-number {
    color: #ff5656;
}

.CodeMirror.cm-s-default .cm-def,
.CodeMirror.cm-s-paper .cm-def {
    color: #e4e4e4;
}

.CodeMirror.cm-s-default .cm-variable-2,
.CodeMirror.cm-s-paper .cm-variable-2 {
    color: #00bdbf;
}

.CodeMirror.cm-s-default .cm-variable-3,
.CodeMirror.cm-s-paper .cm-variable-3 {
    color: #085;
}

.CodeMirror.cm-s-default .cm-comment,
.CodeMirror.cm-s-paper .cm-comment {
    color: #8e9ab3;
}

.CodeMirror.cm-s-default .cm-string,
.CodeMirror.cm-s-paper .cm-string {
    color: #a77272;
}

.CodeMirror.cm-s-default .cm-string-2,
.CodeMirror.cm-s-paper .cm-string-2 {
    color: #f50;
}

.CodeMirror.cm-s-default .cm-meta,
.CodeMirror.cm-s-paper .cm-meta,
.CodeMirror.cm-s-default .cm-qualifier,
.CodeMirror.cm-s-paper .cm-qualifier {
    color: #ffb176;
}

.CodeMirror.cm-s-default .cm-builtin,
.CodeMirror.cm-s-paper .cm-builtin {
    color: #b7c951;
}

.CodeMirror.cm-s-default .cm-bracket,
.CodeMirror.cm-s-paper .cm-bracket {
    color: #997;
}

.CodeMirror.cm-s-default .cm-tag,
.CodeMirror.cm-s-paper .cm-tag {
    color: #f1d273;
}

.CodeMirror.cm-s-default .cm-attribute,
.CodeMirror.cm-s-paper .cm-attribute {
    color: #bfcc70;
}

.CodeMirror.cm-s-default .cm-hr,
.CodeMirror.cm-s-paper .cm-hr {
    color: #999;
}

.CodeMirror.cm-s-default .cm-url,
.CodeMirror.cm-s-paper .cm-url {
    color: #c5cfd0;
}

.CodeMirror.cm-s-default .cm-link,
.CodeMirror.cm-s-paper .cm-link {
    color: #d8c792;
}

.CodeMirror.cm-s-default .cm-error,
.CodeMirror.cm-s-paper .cm-error {
    color: #dbdbeb;
}

.job-step-summary {
    color: var(--color-console-fg-subtle);
}

.job-log-line {
    color: var(--color-text);
}

.job-log-line:hover {
    color: var(--color-console-fg);
}

.text.green {
    color: #3fb950 !important;
}

.ui.ui.ui.green.label {
    background: var(--color-body);
    border-color: #3fb950;
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
    color: #3fb950;
}

.ui.ui.ui.orange.label {
    background: var(--color-body);
    border-color: var(--color-orange);
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
    color: var(--color-orange);
}

.ui.ui.ui.purple.label {
    border-radius: 25px !important;
}

.ui.ui.ui.green.label.issue-state-label {
    background: var(--color-primary);
    border-radius: 25px !important;
}

.ui.ui.ui.red.label.issue-state-label {
    background: var(--color-purple);
    border-radius: 25px !important;
}

.tw-bg-green {
    background-color: var(--color-primary) !important;
}

.tw-bg-red {
    background-color: var(--color-purple) !important;
}

.ui.dropdown .menu>.divider,
.ui.dropdown .menu>.item {
    background: var(--color-box-header);
}

.ui.dropdown .menu>.item:hover {
    background: #1f6feb;
}

.ui.label:not(.basic) {
    border-radius: var(--border-radius);
}

a,
.ui.breadcrumb a {
    color: var(--color-blue);
}

a[href="#"] {
    color: var(--color-text);
}

a:hover,
a.muted:hover,
.ui.breadcrumb a:hover,
.ui.floating.jump.select-label.dropdown:hover,
.ui.floating.jump.select-milestone.dropdown:hover,
.ui.floating.jump.select-project.dropdown:hover,
.ui.floating.jump.select-assignees.dropdown:hover,
.muted-links a:hover {
    color: var(--color-blue);
}

.diff-toggle-file-tree-button:hover {
    color: var(--color-blue);
}

.text.primary,
.flex-item a:not(.label, .button):hover {
    color: var(--color-blue) !important;
}

.interact-fg:hover {
    color: var(--color-blue) !important;
}

.issue.list a:not(.label):hover {
    color: var(--color-blue) !important;
}

/* font color line numbers */
.lines-num span:after {
    color: var(--color-text);
}

.repository.file.list .file-actions .btn-octicon:hover {
    color: var(--color-blue) !important;
}

/* .repo-list-link {
    color: var(--color-blue) !important;
} */

.repository.file.list #repo-files-table td a:hover {
    color: var(--color-blue);
}

.repository #commits-table .author a {
    color: var(--color-text);
}

.repository.view.issue .comment-list .comment>.content>div:last-child {
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

/* gpg commit label  */
.repository #commits-table td.sha .sha.label.isSigned.isVerified,
.repository #repo-files-table .sha.label.isSigned.isVerified,
.repository #rev-list .sha.label.isSigned.isVerified,
.repository .timeline-item.commits-list .singular-commit .sha.label.isSigned.isVerified {
    border: 1px solid #3fb950 !important;
}

.header-wrapper .ui.tabular.menu .item:hover,
.ui.secondary.menu .item:hover {
    background: var(--color-hover) !important;
}

.ui.secondary.pointing.menu .active.item,
.ui.secondary.pointing.menu .active.item:hover {
    border-color: #f78166;
}

/* hover font color */
.ui.secondary.pointing.menu .active.item,
.ui.secondary.pointing.menu .active.item:hover,
.ui.secondary.pointing.menu .dropdown.item:hover,
.ui.secondary.pointing.menu .link.item:hover,
.ui.secondary.pointing.menu a.item:hover {
    color: var(--color-text);
}

.ui.cards>.card>.extra a:not(.ui):hover,
.ui.card>.extra a:not(.ui):hover {
    color: var(--color-blue);
}

/* default border radius */
.ui.button,
.ui.basic.buttons .button,
.ui.basic.button,
.ui.dropdown .menu,
.ui.form input:not([type]),
.ui.form input[type="date"],
.ui.form input[type="datetime-local"],
.ui.form input[type="email"],
.ui.form input[type="number"],
.ui.form input[type="password"],
.ui.form input[type="search"],
.ui.form input[type="tel"],
.ui.form input[type="time"],
.ui.form input[type="text"],
.ui.form input[type="file"],
.ui.form input[type="url"],
.ui.form textarea,
.ui.input textarea,
.ui.label,
.ui.menu,
.ui.segment,
.ui.segments,
.ui.segments:not(.horizontal)>.segment:only-child,
.ui.secondary.menu .dropdown.item>.menu,
.ui.selection.dropdown,
.ui.selection.dropdown .menu,
.ui.table,
.ui.text.menu .dropdown.item>.menu {
    border-radius: var(--border-radius);
}

.ui.floating.dropdown>.menu {
    border-radius: var(--border-radius) !important;
}

/* default left border radius */
.ui.action.input>.dropdown:first-child,
.ui.action.input>.button:first-child,
.ui.action.input>.buttons:first-child>.button,
.ui.compact.menu:not(.secondary) .item:first-child,
.ui.horizontal.segments>.segment:first-child {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

/* default right border radius */
.ui.action.input>.dropdown:last-child,
.ui.action.input>.button:last-child,
.ui.action.input>.buttons:last-child>.button,
.ui.compact.menu:not(.secondary) .item:last-child,
.ui.horizontal.segments>.segment:last-child {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

/* default top border radius */
.ui.secondary.pointing.menu .active.item,
.ui.secondary.pointing.menu .item:hover {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.ui.tabular.menu .active.item,
.repository.view.issue .comment-list .comment>.content>div:first-child {
    border-top-left-radius: var(--border-radius) !important;
    border-top-right-radius: var(--border-radius) !important;
}

/* default bottom border radius */
.ui.segment[class*="bottom attached"] {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.ui.table>thead>tr:first-child>th:first-child {
    border-radius: var(--border-radius) 0 0;
}

.ui.table>thead>tr:first-child>th:last-child {
    border-radius: 0 var(--border-radius) 0 0;
}

.ui.label.sha {
    color: var(--color-text);
}

.ui.label:not(.basic, .sha) {
    color: var(--color-blue);
    background: #121d2f;
}

.ui.label>a {
    opacity: 1;
}

.vch__day__square,
.vch__legend__wrapper rect {
    rx: 2px;
    ry: 2px;
    width: 9px;
    height: 9px;
    outline: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 0.5px;
    outline-offset: -1px;
}

.vch__legend__wrapper rect {
    rx: 3px;
    ry: 3px;
}

.vch__day__square[style="fill: var(--color-secondary-alpha-60);"],
.vch__legend__wrapper rect[style="fill: var(--color-secondary-alpha-60);"] {
    outline: 1px solid rgba(27, 31, 35, 0.06);
    background: var(--color-secondary-alpha-60);
}

.vch__day__square[style="fill: var(--color-primary-light-4);"],
.vch__legend__wrapper rect[style="fill: var(--color-primary-light-4);"] {
    background: var(--color-primary-light-4);
}

.vch__day__square[style="fill: var(--color-primary-light-2);"],
.vch__legend__wrapper rect[style="fill: var(--color-primary-light-2);"] {
    background: var(--color-primary-light-2);
}

.vch__day__square[style="fill: var(--color-primary);"],
.vch__legend__wrapper rect[style="fill: var(--color-primary);"] {
    background: var(--color-primary);
}

.vch__day__square[style="fill: var(--color-primary-dark-2);"],
.vch__legend__wrapper rect[style="fill: var(--color-primary-dark-2);"] {
    background: var(--color-primary-dark-2);
}

.vch__day__square[style="fill: var(--color-primary-dark-4);"],
.vch__legend__wrapper rect[style="fill: var(--color-primary-dark-4);"] {
    background: var(--color-primary-dark-4);
}

:root {
    --is-dark-theme: true;
    --border-radius: 6px;
    --color-primary: rgba(57, 211, 83, 0.6);
    --color-primary-contrast: #fff;
    --color-primary-dark-1: rgba(68, 255, 97, 0.7);
    --color-primary-dark-2: rgba(57, 211, 83, 1);
    --color-primary-dark-3: rgba(68, 255, 97, 0.9);
    --color-primary-dark-4: rgba(68, 255, 97, 1);
    --color-primary-dark-5: #cfddc1;
    --color-primary-dark-6: #e7eee0;
    --color-primary-dark-7: #f8faf6;
    --color-primary-light-1: rgba(57, 211, 83, 0.5);
    --color-primary-light-2: #006d32;
    --color-primary-light-3: rgba(57, 211, 83, 0.3);
    --color-primary-light-4: #0e4429;
    --color-primary-light-5: #223546;
    --color-primary-light-6: #131923;
    --color-primary-light-7: #06090b;
    --color-primary-alpha-10: rgba(57, 211, 83, 0.1);
    --color-primary-alpha-20: rgba(57, 211, 83, 0.2);
    --color-primary-alpha-30: rgba(57, 211, 83, 0.3);
    --color-primary-alpha-40: rgba(57, 211, 83, 0.4);
    --color-primary-alpha-50: rgba(57, 211, 83, 0.5);
    --color-primary-alpha-60: rgba(57, 211, 83, 0.6);
    --color-primary-alpha-70: rgba(57, 211, 83, 0.7);
    --color-primary-alpha-80: rgba(57, 211, 83, 0.8);
    --color-primary-alpha-90: rgba(57, 211, 83, 0.9);
    --color-primary-hover: var(--color-primary-light-1);
    --color-primary-active: var(--color-primary-light-2);
    --color-secondary: #3d444d;
    --color-secondary-dark-1: #505665;
    --color-secondary-dark-2: #5b6273;
    --color-secondary-dark-3: #71798e;
    --color-secondary-dark-4: #7f8699;
    --color-secondary-dark-5: #8c93a4;
    --color-secondary-dark-6: #9aa0af;
    --color-secondary-dark-7: #a8adba;
    --color-secondary-dark-8: #c4c7d0;
    --color-secondary-dark-9: #dfe1e6;
    --color-secondary-dark-10: #edeef1;
    --color-secondary-dark-11: #fbfbfc;
    --color-secondary-dark-12: #eeeff2;
    --color-secondary-dark-13: #fbfbfc;
    --color-secondary-light-1: #373b46;
    --color-secondary-light-2: #292c34;
    --color-secondary-light-3: #1c1e23;
    --color-secondary-light-4: #0e0f11;
    --color-secondary-alpha-10: #2c2f35;
    --color-secondary-alpha-20: #2c2f3533;
    --color-secondary-alpha-30: #2c2f354b;
    --color-secondary-alpha-40: #2c2f3566;
    --color-secondary-alpha-50: #ffffff28;
    --color-secondary-alpha-60: #161b22;
    --color-secondary-alpha-70: #2c2f35b3;
    --color-secondary-alpha-80: #2c2f35cc;
    --color-secondary-alpha-90: #2c2f35e1;
    --color-red: #da3737;
    --color-orange: #f17a2b;
    --color-yellow: #f3c640;
    --color-olive: #c8df36;
    --color-green: #39d353;
    --color-teal: #69d4cf;
    --color-blue: #4493f8;
    --color-violet: #754ad3;
    --color-purple: #b65dd4;
    --color-pink: #e04b9f;
    --color-brown: #a86d45;
    --color-black: #141516;
    --color-grey: #797c85;
    --color-gold: #d4b74c;
    --color-white: #ffffff;
    --color-red-light: #d15a5a;
    --color-orange-light: #f6a066;
    --color-yellow-light: #eaaf03;
    --color-olive-light: #abc016;
    --color-green-light: #93b373;
    --color-teal-light: #00b6ad;
    --color-blue-light: #4e96cc;
    --color-violet-light: #9b79e4;
    --color-purple-light: #ba6ad5;
    --color-pink-light: #d74397;
    --color-brown-light: #b08061;
    --color-black-light: #3f4555;
    --color-red-dark-1: #c23636;
    --color-orange-dark-1: #f38236;
    --color-yellow-dark-1: #b88a03;
    --color-olive-dark-1: #839311;
    --color-green-dark-1: #7a9e55;
    --color-teal-dark-1: #00837c;
    --color-blue-dark-1: #347cb3;
    --color-violet-dark-1: #7b4edb;
    --color-purple-dark-1: #a742c9;
    --color-pink-dark-1: #be297d;
    --color-brown-dark-1: #94674a;
    --color-black-dark-1: #292d38;
    --color-red-dark-2: #ad3030;
    --color-orange-dark-2: #f16e17;
    --color-yellow-dark-2: #a37a02;
    --color-olive-dark-2: #74820f;
    --color-green-dark-2: #6c8c4c;
    --color-teal-dark-2: #00746e;
    --color-blue-dark-2: #2e6e9f;
    --color-violet-dark-2: #6733d6;
    --color-purple-dark-2: #9834b9;
    --color-pink-dark-2: #a9246f;
    --color-brown-dark-2: #835b42;
    --color-black-dark-2: #252832;
    --color-ansi-black: var(--color-black);
    --color-ansi-red: var(--color-red);
    --color-ansi-green: var(--color-green);
    --color-ansi-yellow: var(--color-yellow);
    --color-ansi-blue: var(--color-blue);
    --color-ansi-magenta: var(--color-pink);
    --color-ansi-cyan: var(--color-teal);
    --color-ansi-white: var(--color-console-fg-subtle);
    --color-ansi-bright-black: var(--color-black-light);
    --color-ansi-bright-red: var(--color-red-light);
    --color-ansi-bright-green: var(--color-green-light);
    --color-ansi-bright-yellow: var(--color-yellow-light);
    --color-ansi-bright-blue: var(--color-blue-light);
    --color-ansi-bright-magenta: var(--color-pink-light);
    --color-ansi-bright-cyan: var(--color-teal-light);
    --color-ansi-bright-white: var(--color-console-fg);
    --color-console-fg: #f0f6fc;
    --color-console-fg-subtle: #9198a1;
    --color-console-bg: #010409;
    --color-console-border: #2b3139;
    --color-console-active-bg: var(--color-active);
    --color-console-hover-bg: var(--color-hover);
    --color-console-menu-bg: var(--color-body);
    --color-console-menu-border: var(--color-light-border);
    --color-grey: #505665;
    --color-grey-light: #a1a6b7;
    --color-gold: #b1983b;
    --color-white: #fff;
    --color-diff-removed-word-bg: #6f3333;
    --color-diff-added-word-bg: #3c653c;
    --color-diff-removed-row-bg: #3c2626;
    --color-diff-moved-row-bg: #818044;
    --color-diff-added-row-bg: #283e2d;
    --color-diff-removed-row-border: #634343;
    --color-diff-moved-row-border: #bcca6f;
    --color-diff-added-row-border: #314a37;
    --color-diff-inactive: #353846;
    --color-error-border: #a04141;
    --color-error-bg: #522;
    --color-error-bg-active: #744;
    --color-error-bg-hover: #633;
    --color-error-text: #f9cbcb;
    --color-success-border: #458a57;
    --color-success-bg: #284034;
    --color-success-text: #6cc664;
    --color-warning-border: #bb9d00;
    --color-warning-bg: #3a3a30;
    --color-warning-text: #fbbd08;
    --color-info-border: #306090;
    --color-info-bg: #26354c;
    --color-info-text: #38a8e8;
    --color-red-badge: #db2828;
    --color-red-badge-bg: #db28281a;
    --color-red-badge-hover-bg: #db28284d;
    --color-green-badge: #21ba45;
    --color-green-badge-bg: #21ba451a;
    --color-green-badge-hover-bg: #21ba454d;
    --color-yellow-badge: #fbbd08;
    --color-yellow-badge-bg: #fbbd081a;
    --color-yellow-badge-hover-bg: #fbbd084d;
    --color-orange-badge: #f2711c;
    --color-orange-badge-bg: #f2711c1a;
    --color-orange-badge-hover-bg: #f2711c4d;
    --color-git: #f05133;
    --color-body: #0d1117;
    --color-box-header: #161b22;
    --color-box-body: #0d1117;
    --color-box-body-highlight: #262b36;
    --color-text-dark: #dbe0ea;
    --color-text: #dce2e7;
    --color-text-light: #a6aab5;
    --color-text-light-1: rgb(125, 133, 144);
    --color-text-light-2: #8a8e99;
    --color-text-light-3: #707687;
    --color-footer: #010409;
    --color-timeline: #4c525e;
    --color-input-text: #d5dbe6;
    --color-input-background: #2c2f35;
    --color-input-toggle-background: #454a57;
    --color-input-border: var(--color-light-border);
    --color-input-border-hover: var(--color-light-border);
    --color-header-wrapper: #0d1117;
    --color-header-wrapper-transparent: #20243000;
    --color-light: #00000028;
    --color-light-mimic-enabled: rgba(0, 0, 0, calc(40 / 255 * 222 / 255 / var(--opacity-disabled)));
    --color-light-border: #3d444d;
    --color-hover: #20252e;
    --color-active: #2a313c;
    --color-menu: #0d1117;
    --color-card: #0d1117;
    --color-markup-table-row: #ffffff06;
    --color-markup-code-block: #ffffff16;
    --color-button: #1e252e;
    --color-code-bg: #0d1117;
    --color-code-sidebar-bg: #232834;
    --color-shadow: #00000060;
    --color-secondary-bg: #ffffff26;
    --color-text-focus: #fff;
    --color-expand-button: #3c404d;
    --color-placeholder-text: #8a8e99;
    --color-editor-line-highlight: var(--color-primary-light-5);
    --color-project-board-bg: var(--color-secondary-light-2);
    --color-caret: var(--color-text);
    --color-reaction-bg: #ffffff12;
    --color-reaction-hover-bg: var(--color-primary-light-4);
    --color-reaction-active-bg: var(--color-primary-light-5);
    --color-tooltip-text: #fff;
    --color-tooltip-bg: #000000f0;
    --color-nav-bg: #010409;
    --color-nav-hover-bg: var(--color-hover);
    --color-label-text: #fff;
    --color-label-bg: #7c84974b;
    --color-label-hover-bg: #7c8497a0;
    --color-label-active-bg: #7c8497;
    --color-accent: var(--color-primary-light-1);
    --color-small-accent: var(--color-primary-light-5);
    --color-active-line: #534d1b;
    accent-color: var(--color-accent);
    color-scheme: dark;
}

.emoji[aria-label="check\ mark"],
.emoji[aria-label="currency\ exchange"],
.emoji[aria-label="TOP\ arrow"],
.emoji[aria-label="END\ arrow"],
.emoji[aria-label="ON! arrow"],
.emoji[aria-label="SOON\ arrow"],
.emoji[aria-label="heavy dollar sign"],
.emoji[aria-label="copyright"],
.emoji[aria-label="registered"],
.emoji[aria-label="trade\ mark"],
.emoji[aria-label="multiply"],
.emoji[aria-label="plus"],
.emoji[aria-label="minus"],
.emoji[aria-label="divide"],
.emoji[aria-label="curly\ loop"],
.emoji[aria-label="double curly loop"],
.emoji[aria-label="wavy\ dash"],
.emoji[aria-label="paw\ prints"],
.emoji[aria-label="musical\ note"],
.emoji[aria-label="musical\ notes"] {
    filter: invert() hue-rotate(180deg);
}

.repository.file.list #repo-files-table tbody .svg.octicon-file-directory-fill,
.repository.file.list #repo-files-table tbody .svg.octicon-file-submodule {
    color: #7d8590;
}
