{{- $itemExtraClass := .ItemExtraClass -}}
{{- $data := .PageGlobalData -}}
{{if and $data $data.IsSigned}}{{/* data may not exist, for example: rendering 503 page before the PageGlobalData middleware */}}
	{{- $activeStopwatch := call $data.GetActiveStopwatch -}}
	{{- $notificationUnreadCount := call $data.GetNotificationUnreadCount -}}
	{{/* always rendered so a real-time push can reveal it without a reload */}}
	<a class="item active-stopwatch{{if not $activeStopwatch}} tw-hidden{{end}} {{$itemExtraClass}}" {{if $activeStopwatch}}href="{{$activeStopwatch.IssueLink}}" data-seconds="{{$activeStopwatch.Seconds}}"{{end}} title="{{ctx.Locale.Tr "active_stopwatch"}}">
		<div class="tw-relative flex-text-block">
			{{svg "octicon-stopwatch"}}
			<span class="header-stopwatch-dot"></span>
		</div>
	</a>
	{{if not ctx.Consts.RepoUnitTypeIssues.UnitGlobalDisabled}}
	<a class="item {{$itemExtraClass}}" href="{{AppSubUrl}}/issues" data-tooltip-content="{{ctx.Locale.Tr "issues"}}">
		{{svg "octicon-issue-opened"}}
	</a>
	{{end}}
	{{if not ctx.Consts.RepoUnitTypePullRequests.UnitGlobalDisabled}}
	<a class="item {{$itemExtraClass}}" href="{{AppSubUrl}}/pulls" data-tooltip-content="{{ctx.Locale.Tr "pull_requests"}}">
		{{svg "octicon-git-pull-request"}}
	</a>
	{{end}}
	{{if not (and ctx.Consts.RepoUnitTypeIssues.UnitGlobalDisabled ctx.Consts.RepoUnitTypePullRequests.UnitGlobalDisabled)}}
		{{if .ShowMilestonesDashboardPage}}
			<a class="item {{$itemExtraClass}}" href="{{AppSubUrl}}/milestones" data-tooltip-content="{{ctx.Locale.Tr "milestones"}}">
				{{svg "octicon-milestone"}}
			</a>
		{{end}}
	{{end}}
	<a class="item {{$itemExtraClass}}" href="{{AppSubUrl}}/notifications" data-tooltip-content="{{ctx.Locale.Tr "notifications"}}">
		<div class="tw-relative flex-text-block">
			{{svg "octicon-inbox"}}
			<span class="notification_count{{if not $notificationUnreadCount}} tw-hidden{{end}}">{{$notificationUnreadCount}}</span>
		</div>
	</a>
{{end}}
