// Made by Luting ^-^
.emoji[aria-label="check\\ mark"],
.emoji[aria-label="currency\\ exchange"],
.emoji[aria-label="TOP\\ arrow"],
.emoji[aria-label="END\\ arrow"],
.emoji[aria-label="ON! arrow"],
.emoji[aria-label="SOON\\ arrow"],
.emoji[aria-label="heavy dollar sign"],
.emoji[aria-label="copyright"],
.emoji[aria-label="registered"],
.emoji[aria-label="trade\\ mark"],
.emoji[aria-label="multiply"],
.emoji[aria-label="plus"],
.emoji[aria-label="minus"],
.emoji[aria-label="divide"],
.emoji[aria-label="curly\\ loop"],
.emoji[aria-label="double curly loop"],
.emoji[aria-label="wavy\\ dash"],
.emoji[aria-label="paw\\ prints"],
.emoji[aria-label="musical\\ note"],
.emoji[aria-label="musical\\ notes"] {
  filter: invert(100%) hue-rotate(180deg);
}
