// Made by Luting ^-^
.page-content.repository.releases {
  h2 .item {
    font-weight: 500;
  }

  #release-list .release-entry {
    .meta {
      gap: 2px;
      padding-top: 24px;
      padding-right: 40px;
      text-align: left;
      min-width: 0;
      flex: 0.125;

      a.muted {
        color: #9198a1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-all;

        svg {
          margin-right: 8px !important;
        }

        svg.tw-mr-1.svg.octicon-tag {
          margin-top: 1px;
        }
      }

      .js-branch-tag-selector {
        margin-top: 8px;
      }
    }

    .segment.detail {
      p.text.grey {
        margin: 16px 0;

        .time {
          color: #f0f6fc;
        }
      }

      .markup {
        > *:first-child {
          margin-top: 16px !important;
        }

        > *:last-child {
          margin-bottom: 16px !important;
        }
      }
    }
  }

  .ui.small.primary.button {
    background-color: var(--color-button);

    &:hover {
      background-color: #262c36;
    }
  }
}

.page-content.repository.tags {
  .tag-list-row .download a.muted:hover {
    text-decoration: none;
  }
}

.page-content.repository.tags,
.page-content.repository.releases {
  .ui.small.menu {
    .active.item {
      color: #fff;
      background: #1f6feb !important;
    }
  }
}
