// Made by Luting ^-^
.added-code,
.removed-code {
  color: #fff !important;
  border-radius: 0.1875rem;

  * {
    color: #fff !important;
    border-radius: 0.1875rem;
  }
}
.code-diff-unified {
  .add-code {
    .lines-num,
    .lines-escape {
      background-color: #1c4428;
    }
  }
  .del-code {
    .lines-num,
    .lines-escape {
      background-color: #542426;
    }
  }
}

.code-diff-unified .tag-code td,
.diff-file-body tr.tag-code:last-child > td {
  background-color: #121d2f;
}

.code-expander-button,
.code-diff-unified .tag-code .lines-num,
.code-diff-unified .tag-code .lines-escape,
.diff-file-body tr.tag-code:last-child > td.lines-num,
.diff-file-body tr.tag-code:last-child > td.lines-escape {
  background-color: #0c2d6b;
}

.code-expander-button:hover {
  background: #1f6feb;
}
