// Made by Luting ^-^
// 下拉菜单动画
@keyframes overlay-appear {
  0% {
    opacity: 0;
    transform: translateY(-5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.ui.dropdown .menu {
  margin-top: 3.75px !important;
  border-radius: 12px !important;
  overflow: hidden auto;
  box-shadow: #30363d 0px 0px 0px 0.5px;
  animation: 200ms cubic-bezier(0.33, 1, 0.68, 1) 0s 1 normal none running overlay-appear;
}

.ui.dropdown .menu,
.branch-tag-item.active,
.ui.pointing.dropdown > .menu:not(.hidden):after {
  background: var(--color-box-header) !important;
}

%item-style {
  background: #1f6feb;
}

.ui.dropdown .menu > .item.context:hover {
  @extend %item-style;
}

.user-main-content,
.repo-setting-content,
.user-setting-content,
.org-setting-content,
.admin-setting-content {
  .ui.dropdown .menu > .item {
    &:hover {
      @extend %item-style;

      a {
        color: var(--color-text);
      }
    }
  }
}

// 按钮菜单选项(主要为仓库)
.ui.button.dropdown .menu .item {
  border-radius: var(--border-radius);
  margin: 0 8px;

  &:first-of-type {
    border-radius: var(--border-radius);
    margin-top: 8px;
  }

  &:last-of-type {
    border-radius: var(--border-radius);
    margin-bottom: 8px;
  }
}
