.vch__day__square,
.vch__legend__wrapper rect {
  rx: 2px;
  ry: 2px;
  width: 9px;
  height: 9px;
  outline: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 0.5px;
  outline-offset: -1px;
}

.vch__legend__wrapper rect {
  rx: 3px;
  ry: 3px;
  border-radius: 1px;
}

.vch__day__square,
.vch__legend__wrapper rect {
  &[style='fill: var(--color-secondary-alpha-60);'] {
    outline: 1px solid rgba(27, 31, 35, 0.06);
    background: #161b22;
    fill: #161b22 !important;
  }

  &[style='fill: var(--color-primary-light-4);'] {
    background: #0e4429;
    fill: #0e4429 !important;
  }

  &[style='fill: var(--color-primary-light-2);'] {
    background: #006d32;
    fill: #006d32 !important;
  }

  &[style='fill: var(--color-primary);'] {
    background: #238636;
    fill: #238636 !important;
  }

  &[style='fill: var(--color-primary-dark-2);'] {
    background: #39d353;
    fill: #39d353 !important;
  }

  &[style='fill: var(--color-primary-dark-4);'] {
    background: #44ff61;
    fill: #44ff61 !important;
  }
}
