// Made by Luting ^-^
.ui {
  &.button,
  &.basic.buttons .button,
  &.basic.button,
  &.dropdown .menu,
  &.form input:not([type]),
  &.form input[type='date'],
  &.form input[type='datetime-local'],
  &.form input[type='email'],
  &.form input[type='number'],
  &.form input[type='password'],
  &.form input[type='search'],
  &.form input[type='tel'],
  &.form input[type='time'],
  &.form input[type='text'],
  &.form input[type='file'],
  &.form input[type='url'],
  &.form textarea,
  &.input textarea,
  &.ui.input > input,
  &.label,
  &.menu,
  &.segment,
  &.segments,
  &.segments:not(.horizontal) > .segment:only-child,
  &.secondary.menu .dropdown.item > .menu,
  &.selection.dropdown,
  &.selection.dropdown .menu,
  &.table,
  &.text.menu .dropdown.item > .menu {
    border-radius: var(--border-radius);
  }

  .floating.dropdown > .menu {
    border-radius: var(--border-radius) !important;
  }

  .repository.view.issue .comment-list .comment > .content > div:last-child {
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }
}

// 左边框圆角
.ui {
  &.action.input > .dropdown:first-child,
  &.action.input > .button:first-child,
  &.action.input > .buttons:first-child > .button,
  &.compact.menu:not(.secondary) .item:first-child,
  &.horizontal.segments > .segment:first-child {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  }
}

// 右边框圆角
.ui {
  &.action.input > .dropdown:last-child,
  &.action.input > .button:last-child,
  &.action.input > .buttons:last-child > .button,
  &.compact.menu:not(.secondary) .item:last-child,
  &.horizontal.segments > .segment:last-child {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }
}

// 上边框圆角
.ui.secondary.pointing.menu {
  .active.item,
  .item:hover {
    border-radius: var(--border-radius) !important;
  }
}

.ui.tabular.menu .active.item,
.repository.view.issue .comment-list .comment > .content > div:first-child {
  border-top-left-radius: var(--border-radius) !important;
  border-top-right-radius: var(--border-radius) !important;
}

// 按钮边框圆角
.ui.active.selection.dropdown {
  border-bottom-left-radius: var(--border-radius) !important;
  border-bottom-right-radius: var(--border-radius) !important;
}

.ui.segment[class*='bottom attached'] {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.ui.table > thead > tr:first-child > th {
  &:first-child {
    border-radius: var(--border-radius) 0 0;
  }

  &:last-child {
    border-radius: 0 var(--border-radius) 0 0;
  }
}
