// Made by Luting ^-^
.page-content.repository.releases {
  svg.tw-mr-1.svg.octicon-tag {
    color: #3fb950;
    margin-top: 2px;
  }

  .ui.small.primary.button {
    background-color: var(--color-button);

    &:hover {
      background-color: #262c36;
    }
  }
}

.page-content.repository.tags {
  .tag-list-row .download a.muted:hover {
    text-decoration: none;
  }
}

.page-content.repository.tags,
.page-content.repository.releases {
  .ui.small.menu {
    .active.item {
      color: #fff;
      background: #1f6feb !important;
    }
  }
}
