// Made by Luting ^-^
.page-content.repository.releases {
  #release-list .release-entry .meta {
    gap: 2px;
    padding-top: 24px;
    padding-right: 40px;
    text-align: left;

    a.muted {
      color: #9198a1;
    }

    svg {
      margin-right: 8px !important;
    }

    svg.tw-mr-1.svg.octicon-tag {
      margin-top: 1px;
    }
    .js-branch-tag-selector {
      margin-top: 8px;
    }
  }

  .ui.small.primary.button {
    background-color: var(--color-button);

    &:hover {
      background-color: #262c36;
    }
  }
}

.page-content.repository.tags {
  .tag-list-row .download a.muted:hover {
    text-decoration: none;
  }
}

.page-content.repository.tags,
.page-content.repository.releases {
  .ui.small.menu {
    .active.item {
      color: #fff;
      background: #1f6feb !important;
    }
  }
}
