// Made by Luting ^-^
.ui.modal {
  border: 1.5px solid var(--color-light-border);

  > .header {
    background-color: var(--color-box-header);
    border-bottom: 1.5px solid var(--color-light-border);
  }

  > .content,
  form > .content {
    background-color: var(--color-box-header);
  }

  > .actions,
  .content + .actions,
  .content + form > .actions {
    background-color: var(--color-box-header);
    border-top: 1.5px solid var(--color-light-border);
  }

  input,
  textarea,
  .ui.input input,
  .ui.form input:not([type]),
  .ui.form select,
  .ui.form textarea,
  .ui.form input[type='date'],
  .ui.form input[type='datetime-local'],
  .ui.form input[type='email'],
  .ui.form input[type='file'],
  .ui.form input[type='number'],
  .ui.form input[type='password'],
  .ui.form input[type='search'],
  .ui.form input[type='tel'],
  .ui.form input[type='text'],
  .ui.form input[type='time'],
  .ui.form input[type='url'],
  .ui.selection.dropdown {
    &:focus,
    &:focus-visible {
      background: #0d1117 !important;
    }
  }
}
